<div class="container text-center">
    <h1 class="text-center text-primary"> Todo App in Angular</h1>
<div class="row">
    <div class="col-6">
        <label for=""> Add new Task</label>
        <input [(ngModel)]="taskinput" type="text" class="form-control" id="task" >
    </div>
    <div class="col-3">
        <button class="btn btn-success mt-4" (click)="addTask()">Add</button>
    </div>
    <div class="col-3">
        <button class="btn btn-danger mt-4" (click)="reset()">Reset</button>
    </div>
</div>
</div>